* {
  box-sizing: border-box;
}

html {
  font: 16px Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #aaa;
  margin: 0;
}

/***** Wrapper *****/

#wrapper {
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

/***** Header *****/

header {
  /* align-items: stretch; */
  /* #46AF49 - too bright 
  #3c963d - too bright
  #155c14 - just right
  #327b36
  #337A33*/
  background-color: #327b36;
  color: #fff;
  /* display: flex; */
  /* justify-content: left; */
}

header a {
  color: #fff;
  flex-shrink: 2;
  text-decoration: none;
}

h1 {
  filter: drop-shadow(3px 3px 1px #000);
  margin: 0;
  min-width: 325px;
  padding: 1.5rem;
  text-wrap: wrap;
}

/***** Header Nav Bar *****/

header nav {
  display: grid;
  flex-grow: 1;
  /* grid-template-columns:repeat(auto-fit, auto repeat(auto-fit, )); */
  /* grid-template-columns: minmax(325px, 565px) repeat(auto-fit, 1fr); */
  grid-template-columns: auto 1fr;
  font-size: 1.3rem;
  height: min-content;
  min-height: 96px;
  /* width: 100%; */
}

nav ul {
  /* align-items: center; */
  display: flex;
  flex: 1;
  /* flex-grow: 1; */
  /* height: 100%; */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  align-items: stretch;
  border-left: #fff 2px solid;
  /* border-right: #fff 1px solid; */
  display: flex;
  /* filter: drop-shadow(3px 3px 1px #000); */
  flex: 1;
  /* height: 100%; */
  /* padding: auto 0; */
}

header nav li a {
  /* align-self: center; */
  /* display: inline-block; */
  filter: drop-shadow(3px 3px 1px #000);
  /* flex-grow: 1; */
  /* padding: auto 1rem; */
  text-align: center;
}

header nav ul:first-of-type li a {
  flex-grow: 1;
  padding: 2rem 1rem;
}

#logged-in {
  align-content: space-between;
  display: flex;
  flex-grow: 3;
  flex-shrink: 1;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: right; */
  row-gap: 4px;
  /* height: min-content; */
  /* grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 4px;
  grid-template-columns: auto 1fr; */
  /* grid-template-rows: auto 1fr; */
  /* grid-template-rows:  minmax(auto, 4rem) 37px; */
  /* grid-template-rows: minmax(37px, 4rem); */
  /* min-width: 450px; */
  padding: .5rem 1rem;
}

/* #logged-in span {
  filter: drop-shadow(3px 3px 1px #000);
  height: min-content;
  margin-right: 6px;
  margin-bottom: 4px;
} */

#logged-in a {
  /* align-self: flex-end; */
  border: #fff 2px solid;
  border-radius: .5rem;
  /* grid-column: auto;
  grid-row: auto; */
  /* display: block; */
  flex-grow: 0;
  height: min-content;
  margin-left: auto;
  padding: .25rem 2rem;
  /* width: min-content; */
  justify-self: right;
}



nav ul:nth-of-type(2) {
  border-top: #fff 2px solid;
  grid-column: span 2;
}

nav ul:nth-of-type(2) li {
  flex-grow: 0;
}

nav ul:nth-of-type(2) li:first-of-type {
  margin-left: auto;
}

nav ul:nth-of-type(2) li a {
  padding: 1rem;
  text-wrap: nowrap;
}

nav a:hover,
#nav-trigger:hover {
  background-color: #155c14;
  text-decoration: underline;
}

#nav-trigger {
  cursor: pointer;
  text-align: center;
}



#nav-trigger,
#nav-checkbox {
  display: none;
}

/***** Session Messages *****/

#message {
  animation: session-blink 3s;
  background-color: #fff;
  border: 2px solid #000;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 2rem;
  padding: .5rem;
  position: sticky;
  top: 2px;
  z-index: 1;
}

/***** Main *****/

main {
  padding: 1rem 2rem;
}

main:not(#calendar) .edit-button {
  background-color: #000074;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin-top: .5rem;
  padding: 10px;
  /* position: relative;
  right: 5px;
  bottom: 5px; */
  text-decoration: none;
  width: fit-content;
}

main:not(#calendar) .edit-button:hover {
  background-color: #000094;
  text-decoration: underline;
}

main:not(#calendar) .create-button {
  background-color: #007400;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin-top: .5rem;
  padding: 10px;
  text-decoration: none;
  width: fit-content;
}

main:not(#calendar) .create-button:hover {
  background-color: #009400;
  text-decoration: underline;
}

main:not(#calendar) .delete-button {
  background-color: #740000;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin-top: .5rem;
  padding: 10px;
  text-decoration: none;
  width: fit-content;
}

main:not(#calendar) .delete-button:hover {
  background-color: #940000;
  text-decoration: underline;
}

/***** Home *****/

#home section {
  border: #000 2px solid;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: minmax(200px, 950px) auto;
  margin-bottom: 2rem;
  overflow: hidden;
}

#home section:nth-of-type(2) {
  grid-template-columns: 1fr 1fr auto;
}

#home section div {
  align-content: stretch;
  border: #000 1px solid;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  /* justify-content: center; */
  padding: 1rem;
}

#home section:nth-of-type(2) div:nth-of-type(3) {
  max-width: 175px;
  padding: 0;
}

#home section:nth-of-type(2) div:nth-of-type(3) a {
  align-items: center;
  /* color: #000; */
  display: flex;
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  /* text-decoration: none; */
}

#home section:nth-of-type(2) div:nth-of-type(3)a span {
  flex-grow: 1;
}

/***** Table *****/

table,
th,
td,
caption {
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
}

th {
  margin-top: 0;
  min-width: 60px;
}

main:not(#calendar) th {
  padding: 1rem;
}

td {
  padding-left: 6px;
  vertical-align: top;
}

.empty {
  border: none;
  margin: 4px;
}

/***** Calendar Page *****/

#calendar table {
  margin-bottom: 2.5rem;
  width: 100%;
}

#calendar caption {
  background-color: #f4f1e3;
  font-size: 2rem;
  font-weight: bold;
  padding: 8px;
}

#calendar tr {
  background-color: #bbb;
  display: flex;
}

#calendar th,
#calendar td {
  background-color: #fff;
  flex: 1;
  position: relative;
}

/* #calendar th {
  pa
} */

#calendar td {
  min-height: 4rem;
  padding-bottom: 1rem;
}

#calendar ul {
  padding-left: 20px;
}

#calendar .empty {
  background-color: #bbb;
}

/* The new month button */
#calendar > a {
  border: 2px solid #000;
  border-radius: 12px;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem;
}

#calendar > a:hover {
  background-color: #eaeaea;
  text-decoration: underline;
}

/* The Admin view create CalendarDate button */

#calendar .create-button {
  background-color: #007400;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
}

#calendar .create-button:hover {
  background-color: #009400;
  text-decoration: underline;
}

/* The Admin view delete CalendarDate button */

#calendar .delete-button {
  background-color: #740000;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  padding: 10px 13px;
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
}

#calendar .delete-button:hover {
  background-color: #940000;
  text-decoration: underline;
}

/* The Admin view edit CalendarDate listings button */

#calendar .edit-button {
  background-color: #000074;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin-top: .5rem;
  padding: 10px;
  /* position: relative;
  right: 5px;
  bottom: 5px; */
  text-decoration: none;
  width: fit-content;
}

#calendar .edit-button:hover {
  background-color: #000094;
  text-decoration: underline;
}

/***** Vendor Page *****/

/* #vendor th {
  padding: 1rem;
} */

#vendor td {
  padding: .5rem;
}

/***** Products Page *****/

#product label {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

#product h4 {
  background-color: #327b36;
  color: #fff;
  filter: drop-shadow(3px 3px 1px #000);
  font-size: 1.3rem;
  padding: 1rem;
}

#product div a {
  border: 2px solid black;
  border-radius: 8px;
  display: inline-block;
  padding: 1rem;
}

#product div a:not(:first-of-type) {
  margin-left: .5rem;
}

/***** Show Pages *****/

dt {
  font-weight: bold;
  margin: 1rem 0 .5rem;
}

/* .show th {
  padding: 1rem;
} */

.show td {
  padding: .5rem;
}

.product-category {
  background-color: #327b36;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

/* .show .edit-button {
  background-color: #000074;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin-top: .5rem;
  padding: 10px;
  text-decoration: none;
  width: fit-content;
}

.show .edit-button:hover {
  background-color: #000094;
  text-decoration: underline;
}

.show .create-button {
  background-color: #007400;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin-top: .5rem;
  padding: 10px;
  text-decoration: none;
  width: fit-content;
}

.show .create-button:hover {
  background-color: #009400;
  text-decoration: underline;
} */

/***** Edit Page *****/

.new-phones dd {
  display: block;
  margin-bottom: 2rem;
}

.new-phones > a {
  background-color: #007400;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 10px;
  text-decoration: none;
}

.new-phones > a:hover {
  background-color: #009400;
  cursor: pointer;
  text-decoration: underline;
}

.new-phones dd a {
  background-color: #740000;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  margin-left: 1rem;
  padding: 10px;
  text-decoration: none;
}

.new-phones dd a:hover {
  background-color: #940000;
  cursor: pointer;
  text-decoration: underline;
}


/***** Footer *****/

footer {
  max-width: 1400px;
  margin: 0 auto;
  padding: .5rem 2rem;
  text-align: right;
}

/***** Animations *****/

@keyframes session-blink {
  from {
    background-color: rgb(255, 255, 60);
  }

  to {
    background-color: none;
  }
}

/***** Media Queries *****/

/** 1165 **/

@media screen and (max-width: 1165px) {
  header nav {
    grid-template-columns: 1fr;
  }

  header nav ul {
    border-top: #fff 2px solid;
    grid-column: span 2;
  }
}

/** 770 **/

@media screen and (max-width: 770px) {
  header {
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  header nav {
    grid-auto-flow: row;
  }

  header nav ul {
    display: none;
  }

  header nav ul li {
    border-left: none;
    border-top: 1px solid #fff;
  }

  #nav-checkbox {
    grid-row: 1;
  }

  #nav-trigger {
    border-bottom: 2px solid #fff;
    display: block;
    grid-column: span 2;
    grid-row: 1;
    left: 0;
    order: -1;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #nav-checkbox:checked ~ ul {
    display: block;
  }

  #message {
    top: 185px;
  }

  #home section,
  #home section:nth-of-type(2) {
    grid-template-columns: 1fr;
  }

  #home section:nth-of-type(2) div:nth-of-type(3) {
    max-width: 100%;
  }
}



