* {
  box-sizing: border-box;
}

html {
  font: 16px Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #ccc;
  margin: 0;
}

/***** Wrapper *****/

#wrapper {
  background-color: #fff;
  max-width: 1400px;
  margin: 0 auto;
}

/***** Header *****/

header {
  /* align-items: stretch; */
  /* #46AF49 - too bright 
  #3c963d - too bright
  #155c14 - just right
  #327b36*/
  background-color: #3c963d;
  color: #fff;
  /* display: flex; */
  /* justify-content: left; */
}

header a {
  color: #fff;
  text-decoration: none;
}

h1 {
  filter: drop-shadow(3px 3px 1px #000);
  margin: 0;
  padding: 1.5rem;
}

/***** Header Nav Bar *****/

header nav {
  display: grid;
  /* flex-grow: 1; */
  grid-template-columns: auto 1fr;
  font-size: 1.3rem;
  min-height: 96px;
  /* width: 100%; */
}

nav ul {
  /* align-items: center; */
  display: flex;
  /* flex-grow: 1; */
  /* height: 100%; */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  align-items: stretch;
  border-left: #fff 2px solid;
  /* border-right: #fff 1px solid; */
  display: flex;
  /* filter: drop-shadow(3px 3px 1px #000); */
  flex-grow: 1;
  /* height: 100%; */
  /* padding: auto 0; */
}

header nav li a {
  /* align-self: center; */
  /* display: inline-block; */
  filter: drop-shadow(3px 3px 1px #000);
  /* flex-grow: 1; */
  /* padding: auto 1rem; */
  text-align: center;
}

header nav ul:first-of-type li a {
  flex-grow: 1;
  padding: 2rem 1rem;
}

#logged-in {
  display: grid;
  /* flex-grow: 1; */
  grid-gap: 4px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  padding: .5rem 1rem;
}

#logged-in span {
  filter: drop-shadow(3px 3px 1px #000);
  /* padding-bottom: 3px; */
}

#logged-in a {
  border: #fff 2px solid;
  /* display: block; */
  /* flex-grow: 0; */
  margin-left: auto;
  padding: .25rem 2rem;
  /* width: min-content; */
}

#logged-in a:last-of-type {
  grid-column: 2;
  grid-row: 2;
}

nav ul:nth-of-type(2) {
  border-top: #fff 2px solid;
  grid-column: span 2;
}

nav ul:nth-of-type(2) li {
  flex-grow: 0;
}

nav ul:nth-of-type(2) li:first-of-type {
  margin-left: auto;
}

nav ul:nth-of-type(2) li a {
  padding: 1rem;
  text-wrap: nowrap;
}

/***** Main *****/

main {
  padding: .5rem 2rem;
}

/***** Table *****/

table, th, td, caption {
  border: 1px solid black;
  padding: 2px;
}

th {
  min-width: 60px;
}

td {
  padding-left: 6px;
  vertical-align: top;
}

.empty {
  border: none;
}

/***** Footer *****/

footer {
  padding: .5rem 2rem;
}